.button {
  outline: none;
  width: 100%;
  height: 79px;
  border: none;
  border-radius: 10px;
  background-color: var(--warning);
  font-size: 24px;
  font-weight: 900;
  color: #111;
  cursor: pointer;
  margin: 10px 0;
  box-shadow: var(--shadow);
}

.button__secondary {
  background-color: var(--secondary);
  color: var(--warning);
}

.button.button__secondary:hover {
  background-color: #2c2c2c;
  color: var(--warning);
}

.button:hover {
  background-color: #ecba4d;
}
